.NFLpic{
    max-width: 200px;
}
.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
body{
        background-image: url("fantasyfballback.jpg");
        background-color: #cccccc;
        background-color: rgb(0, 247, 255) ;
    
}
.full{
    font-size: x-large;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: azure;
    display: block;
}
h2{
    text-align: center;
    font-style: oblique;
    font-size: x-large;
    text-decoration: underline;
}
h1{
    text-emphasis: block;
    text-align: center;
    
}